body, h1, h2, p, ul, li, a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #161616;
  background: url("./pattern.svg") repeat top;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: minmax(140px, 200px) 1fr;
  grid-gap: 30px;
}

@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
    margin: 0px auto;
    min-height: 100% !important;
    display: block;
  }
}

@media screen and (max-width: 739px) {
  .container {
    flex-direction: column;
  }
  .content_web1, .content_web2 {
    grid-template-columns: 100% !important;
  }
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.content {
  min-height: 100vh !important;
  padding: 20px;
}

.content_web {
  display: grid;
  min-height: 100vh !important;
  grid-template-columns: 100%;
}

.content_web1 {
  display: grid;
  min-height: 100vh !important;
  grid-template-columns: 0.4fr 2fr;
}

.content_web2 {
  display: grid;
  min-height: 100vh !important;
  grid-template-columns: 0.04fr 2fr;
}

.btn {
  display: block;
  padding: 10px 30px;
  background: #4400ffb9;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background: #65d;
  transform: scale(1.1);
}

.btn-disabled, .btn-disabled:hover {
  background: #bbc;
  transform: scale(1);
}

.v-enter, .v-leave-to {
  opacity: 0;
}

.v-enter {
  transform: translate3d(0, -20px, 0);
}

.v-leave-to {
  transform: translate3d(0, 20px, 0);
}

.v-enter-active, .v-leave-active {
  transition: all 0.3s;
}

/* Form */

.form {
  width: 100%;
}

.form-button {
  margin-top: 3%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.form-button a {
  cursor: pointer;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.767);
  margin-bottom: 6px;
}

.form-group input, .form-group textarea, .form-group select {
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  padding: 13px;
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.1);
  font-size: 1rem;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
  width: 100%;
  outline: none;
}

.form-group select {
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 10px;
}

.form-group input:hover, .form-group input:focus, .form-group textarea:hover, .form-group textarea:focus, .form-group select:hover, .form-group select:focus {
  outline: none;
  box-shadow: 0 6px 12px rgba(30, 60, 90, 0.1);
  border-color: #87f;
}

.form-group select option:hover {
  color: #EC6F66;
}

@media screen and (max-width: 518px) {
  .form-group label {
    font-size: 1rem;
  }
  .form-group input, .form-group textarea {
    padding: 12px;
  }
}

.form-row, .row {
  display: flex;
  flex-wrap: wrap-reverse;
}

.col-right {
  margin-right: 2%;
}

.col-2 {
  width: 49%;
}

.col-3 {
  width: 29%;
}

.col-7 {
  width: 69%;
}

.col-6 {
  width: 49%;
}

.col-12 {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .col-right {
    margin-right: 0%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-7 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
}

/*

*/

/* Table & Pagination*/

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #8e8e8e73;
  border-radius: 4px;
  margin-bottom: 20px !important;
}

table td, table th {
  padding: 11px;
  padding-left: 15px;
  padding-right: 15px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table thead th {
  height: 45px;
  text-align: left;
  background: rgba(22, 22, 22, 0.857);
  color: white;
  font-weight: 300;
}

.col-table-acoes {
  text-align: center;
  width: 14%
}

@media screen and (max-width: 1058px) {
  .col-table-acoes {
    width: 22%;
  }
}

@media screen and (max-width: 794px) {
  .col-table-acoes {
    width: 25%;
  }
  .col-table-1 {
    display: none;
  }
}

@media screen and (max-width: 455px) {
  .col-table-1, .col-table-3, .col-table-4 {
    display: none;
  }
  .col-table-acoes {
    width: 38%;
  }
}

@media screen and (max-width: 300px) {
  table td, table th {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.col-table-1 {
  width: 9%;
}

.page-font {
  font-size: 17 !important;
}

.page-button {
  font-size: 20px;
  padding: 0px 10px 0px 13px;
}

.page-link {
  font-size: 18px;
  padding: 2px 12px 1px 16px;
}

.page-button, .page-link {
  border: 1px solid #484848eb;
  cursor: pointer;
  border-radius: 2px;
  margin-left: 10px;
  text-align: center;
}

.pagination a:hover {
  background: rgba(22, 22, 22, 0.829);
  color: #fff;
}

.disabled {
  pointer-events: none;
}

/* Ajuste Alert */

.swal2-icon.swal2-warning {
  width: 60px !important;
  height: 60px !important;
}

.swal2-title {
  font-size: 1.3em !important;
}

.swal2-content {
  font-size: 1em !important;
}

.swal2-styled.swal2-confirm {
  font-size: 0.8em !important;
}

.swal2-styled.swal2-cancel {
  font-size: 0.8em !important;
}

.swal2-modal {
  width: 350px !important;
}

/* Sem registros */

.content-noitens {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.noitens {
  width: 100%;
  text-align: center;
  transition: all 0.3s;
  color: #65d;
  font-size: 25px;
  margin-bottom: 1%;
}

.noitens:hover {
  transform: scale(1.1);
}

.btn-cadastro {
  padding: 5px 20px !important;
}

@media screen and (max-width: 1070px) {
  .noitens {
    width: 89%;
  }
}

@media screen and (max-width: 780px) {
  .noitens {
    font-size: 20px;
  }
}

/* menu-pages */

.menu-pages a {
  padding: 10px 20px;
  display: block;
  background: #f4f7fc;
  margin-bottom: 10px;
  border-radius: 4px;
  color: rgb(7, 0, 0);
}

.menu-pages a.router-link-exact-active, .menu-pages a:hover {
  background: linear-gradient(90deg, #271181 40%, #87f 100%);
  color: white;
  border: none;
}